.upload-container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.upload-container h1 {
  margin-bottom: 15px;
  color: black
}

.uploadForm input {
  height: 2em;
  width: 20em;
}

.upload-container input[type="file"] {
  margin-bottom: 15px;
  font-size: 1.2em;
}

.upload-container button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-container button:hover {
  background-color: #0056b3;
}

.preview img {
  margin-top: 20px;
  max-width: 75%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

.upload-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-tasks input {
  height: 2em;
  width: 3em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: red;
}

button {
  margin: 10px;
  height: 3em;
  width: 9em;
  font-size: 1.2em;
}