body {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;

  background-image: url(/img/back-img.jpg);
  background-size: 50%;
  /* Изменение размера картинки по размеру контейнера*/
  background-position: center;
  /* Центровка картинки */
  background-repeat: no-repeat;
  /* Картинка не повторяется */
  /* border: 1px solid red; */
}

.goal {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: justify;

  /* border: 1px solid blueviolet; */

  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.neon {
  position: relative;
  overflow: hidden;
  filter: brightness(200%);
  opacity: 0.5;
}

.text {
  background-color: blue;
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  user-select: none;
  padding: 5px;
  letter-spacing: 0.1em;
}

.text::before {
  content: attr(data-text);
  position: absolute;
  color: orangered;
  filter: blur(0.02em);
  mix-blend-mode: difference;
}

.gradient {
  position: absolute;
  background: linear-gradient(45deg, red, gold, lightgreen, gold, red);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}

.spotlight {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background:
    radial-gradient(circle,
      white,
      transparent 25%) center / 25% 25%,
    radial-gradient(circle,
      white,
      black 25%) center / 12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}

@keyframes light {
  to {
    transform: translate(50%, 50%);
  }
}

.btn {
  border-radius: 10px;
  color: white;
  transition: .2s linear;
  background: #0B63F6;
  font-size: xx-large;
  margin-top: 50px;
}

.btn:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}

.exemple,
.divAnswer,
.divExample {
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

  margin-top: 20px;
  padding: 10px;

  font-size: 100px;
  background-color: rgba(0, 1, 0, 0.5);
  text-shadow:
    -1px -1px #FFF,
    -2px -2px #FFF,
    -1px 1px #FFF,
    -2px 2px #FFF,
    1px 1px #FFF,
    2px 2px #FFF,
    1px -1px #FFF,
    2px -2px #FFF,
    -3px -3px 2px #BBB,
    -3px 3px 2px #BBB,
    3px 3px 2px #BBB,
    3px -3px 2px #BBB;
  color: steelblue;
}

.exemple {
  font-size: 35px;
}

.divExample {
  display: flex;
  align-items: center;
}

.divAnswer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  display: flex;
  margin: 1px;
}

input {
  height: 100px;
  width: 120px;

  /* opacity: 0.5; */

  font-size: 100px;
  font-weight: bold;
  text-align: center;

  /* padding: 5px; */

  text-shadow:
    -1px -1px #FFF,
    -2px -2px #FFF,
    -1px 1px #FFF,
    -2px 2px #FFF,
    1px 1px #FFF,
    2px 2px #FFF,
    1px -1px #FFF,
    2px -2px #FFF,
    -3px -3px 2px #BBB,
    -3px 3px 2px #BBB,
    3px 3px 2px #BBB,
    3px -3px 2px #BBB;
  color: red;
}